@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Scripts {
    <script src="~/js/PostImages.js"></script>
}

<style>
    #result {
        height: 600px;
    }

    #resultImagediv {
        align-content: center;
        margin-top : 20px;
    }

	#headerDiv, #processedImageDiv, #inputImageDiv {
		text-align: center;
	}
</style>

<div id="headerDiv" class="mt-3"><h2>Drone Detector</h2></div>

<div>
    <div class="row">
        <div id="resultImagediv">
            <img id="result" />
        </div>
    </div>
</div>

<div>
    <form method="post" enctype="multipart/form-data">
        <br />
        <div>
            <h5>Try uploading your images:</h5>
        </div>
        <br />
        <div>
            <input type="file" name="imageFile">
            <input type="submit" value="Upload File" name="submit" class="btn btn-primary">
        </div>
    </form>
    <br />
    <br />
</div>
