@model Artist

<a asp-controller="Home" asp-action="Artist" asp-route-name="@Model.Name" class="panel panel-success">
    <div class="panel-heading">
        <p class="text-center">@Model.Name</p>
    </div>
    <div class="panel-body">
        <img class="img-rounded center-block" src="@Model.PictureLink" />
    </div>
</a>
