@model Artist
@{
    ViewBag.Title = Model.Name;
}

<div style="float: left; margin: 30px">
    <h1 class="text-center"><a asp-controller="Home" asp-action="Artist" asp-route-name="@Model.Name">@Model.Name</a></h1>
    <img class="img-thumbnail center-block" height="300px" src="@Model.PictureLink" />
</div>
<p style="margin-top: 30px">@Model.FullBiography</p>
