@model List<Track>

<div class="row">
    <div class="col-xs-offset-2 col-xs-8">
        <h2 class="text-center">Full chart: Top 1000</h2>
        @Html.Partial("_TracksTable", Model)
    </div>
</div>
